body {
    min-height: 500px;
}

a {color: black;}
a:hover {color: rgba(0, 0, 0, 0.8);}

#help-box {
    position: absolute;
    width: 39%;
    top: 0;
    right: 1em;
    z-index: 1000;
}

#help-content {
    background-color: #EEE;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 0 0 0 10px;
    padding: 1em;
}

#help-tab {
    background-color: #EEE;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    position: absolute;
    right: 0;
    width: 5em;
    border-radius: 0 0 10px 10px;
}

#toggle-help {
    display: block;
    margin: .1em auto;
    width: 2em;
    cursor: pointer;
}

.highlight { font-weight: 700 }

#options {
    display: inline-block;
    vertical-align: top;
}

#actions {
    display: inline-block;
    vertical-align: top;
}

.center {
    display: flex;
    justify-content: center;
}

.left-pane {
    width: 50%;
}

.right-pane {
    width: 49%;
}

.pane {
    display: inline-block;
    vertical-align: top;
}

.pane-content { margin: 0.5em }

.pane-header {
    text-align: center;
    padding: .3em;
    font-size: 18pt;
    background-color: rgba(0,0,0,.2);
}

.option { 
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: top;
 }

.option-line { line-height: 2em }

#options-line-two .option {
    background-color: rgba(0,0,0,0.08);
    border-radius: 10px;
    padding: 0 .5em 0 .5em; 
}

.option-name {
    display: inline-block;
    margin-right: 0.5em;
}

.option-input { 
    display: inline-block;
    vertical-align: middle;
}

#count-input { width: 2em }

.status-label {
    display: inline-block;
    vertical-align: top;
    width: 65%;
}

.status-value { display: inline-block }

#fail-box { font-size: 85% }

#waiting-box {
    text-align: center;
    margin-top: 2em;
}

.error { color: red }

#pos-items {margin-bottom: 1em}

#extra-group-operator{
    margin: auto;
    width: 4em;
    font-weight: 500;
    font-size: 2em;
}

.set-operator {
    width: 1em;
    text-align: center;
    display: inline-block;
}

.set-operator.enabled {
    background-color: lightgray;
    border-radius: 10px;
}

.set-operator:hover {cursor: pointer}

.item {
    border: solid 2px black;
    background-color: white;
    border-radius: 10px;
    margin-top: .5em;
    transition: background-color .5s;
}

.item .text {
    font-size: 120%;
    width: 85%;
    margin: 0.3em;
    float: left;
}

.text .active { color: red; }

.item.disabled {opacity: 0.7}

.locked.svg-node-text {
    fill : blue;
}


/* Styping SVG trees */ 

.svg-line { stroke : black; }

.locked.svg-line { stroke : blue; }

.highlighted.svg-node-text {
    fill : red;
}

.highlighted.svg-line { stroke : red; }

.item:hover { 
    cursor: pointer;
    box-shadow: 0 0 5px #aaa;
}

.item .popup { cursor: default }

.derivation { 
    background-color: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: .5em;
    margin: .5em;
}

.derivation.active { background-color: rgba(0, 0, 0, 0.3) }

.derivation:hover { cursor: pointer }

input, select { margin: 0 }

input[type=submit]:hover { cursor: pointer }

input[type=submit].disabled:hover { cursor: default }

input[type=submit]:active {
	position: relative;
	top: 1px;
}

input[type=submit].disabled:active { position: static }

input[type=submit] { font-weight: 700 }

input[type=text], input[type=submit], select, textarea {
    background: white;
    border: solid 2px black;
}

.item.disabled, input[type=submit].disabled {
    border-color: gray;
    color: gray;
}

.actions {
    margin: 0.3em 0.3em 0 0.3em;
    font-size: 110%;
}

.actions * { display: inline-block }

.actions .number { font-weight: 700 }

.item .del,.item .disable {
    visibility: hidden;
    float: right;
    margin-left: 0.6em;
    font-size: 110%;
}

.item:hover .del, .item:hover .disable {
    visibility: visible;
}

.tree-box.popup, .mrs-box.popup { 
    padding: .5em;
    overflow-y: auto;
 }

.tree-box { 
    max-width: 59.5%; 
    max-height: 85%;
    left: 0.5%;
    right: 1%;
    top: 9%;
    z-index: 1000;
}

.tree-box.max {
    max-width: 98%;
}

.mrs-box {
    max-width: 36%; 
    max-height: 85%;
    left: 55%;
    top: 9%;
}

.mrs-box .mrs {
    font-family: "Courier New", Courier, monospace;
}

/* Tool Tip stuff */

.ui-tooltip {
    border-radius: 5px;
	border: 1px solid #aaa;
    background-color: white;
	border-width: 2px;
	padding: .3em;
	position: absolute;
	z-index: 9999;
	box-shadow: 0 0 5px #aaa;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ttname {
    display: inline-block;
    vertical-align: bottom;
    width: 6em;
}

.ttval {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: bottom;
}

.tree-actions { margin: .5em; }

.item>.tree-count {
    font-size: 85%;
    margin-right: 0.5em;
}

.tree-count {
    float: right;
}


.type-button:hover, .del:hover, .disable:hover {
    color: rgba(0, 0, 0, 0.5);
    /* text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5); */
}

.clear { clear: both }

.popup {
    position: fixed;
    border: solid 2px black;
    border-radius: 10px;
    background: white;
    padding: 1em;
}

#add-items-box, #treebanks-box {
    text-align: center;
    top: 40%;
    left: 47%;
    width: 900px;
    margin-top: -110px;
    margin-left: -425px;
    z-index: 1000;
}

#input-boxes-container {
    display: flex;
    justify-content: center;
}

#add-items-box textarea {
    margin-bottom: 1em;
}

#pos-profile-input, #neg-profile-input {
    margin-right: auto;
}

#pos-profile-filter, #neg-profile-filter {
    margin-left: auto;
}

#add-items-box .row {
    margin-top: 1em;
    display: flex;
}

#add-items-box .phenomenon-row {
    justify-content: space-between;
}

.phenomenon-row {
    visibility: hidden;
}

#submit-items-button {
    font-size: 1.25em;
    padding: 0.25em;
}

#treebanks-box {
    text-align: center;
    top: 9%;
    left: 18%;
}

#add-items-box textarea {
    height: 150px;
    width: 400px;
}

#add-items-box .header { font-weight: 700 }

#add-items-box .spacer { 
    width: 1em;
    display: inline-block;
}

#add-items-box input[type=submit] { 
    display: block;
    margin: 1em auto 0 auto;
}

#output-box {
    display: table;
    border-collapse: separate;
    border-spacing: 0 4px;
}

#output-pane-contents {
    height: 76vh;
    overflow-y: auto;
    padding-right: .5em;
    position: fixed;
}


.type {
    font-family: "Courier New", Courier, monospace;
    font-size: 105%;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    padding: 0.15em .5em;
    max-width: 0em;
}

.type.active { font-weight: 700 }

.type.super { 
    border: 2px dashed black;
    opacity: 0.8;
}

.type:not(.super) { cursor: pointer }

.type:not(.super):hover { 
    cursor: pointer;
    box-shadow: 0px 0px 6px;
}

.items-stat { 
    display: table-cell;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding-right: 1em;
}

.type-name {display: inline-block;}

.type-button {
    display: none;
    float: right;
    margin-left: 0.5em;
}

.type:hover .type-button {
    display: inline-block;
}

.filter-type-in:hover {

}

#type-table_wrapper {
    position: static;
}

#type-table tfoot {
    display: table-header-group;
}

.item-group-info {
    padding: 0 0.5em;
}

.item-type-header{
    display: inline-block;
}

.item-count-header{
    float: right;
}

.type-list-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.type-list-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.type-list {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.type-list .type-wrapper {
    display: flex;
    justify-content: center;
}

.type-list .type {
    max-width: 90%;
}

.annotation-form-container {
    display: flex;
    justify-content: flex-end;
}

#annotation-label {
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.25em;
}

#phenomenon-label {
    font-family: mono;
}

#annotation-comment {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
}

#annotation-comment textarea {
    width: 50%;
    height: 4em;
}
