<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="ROBOTS" content="NOSNIPPET">
        <!-- Empty favicon to make the browser dev tools console shut up -->
        <link rel="icon" href="data:;base64,=">
        <link rel="stylesheet" href="{{ url_for('static', filename='typediff.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
        {% block css_sheets %}{% endblock %}
        <script language=JavaScript src="{{ url_for('static', filename='jquery.min.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='jquery-ui.min.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='bootstrap.min.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='lodash.min.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='datatables.min.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='typediff.js') }}" type=text/javascript></script>
        <script language=JavaScript src="{{ url_for('static', filename='render.js') }}" type=text/javascript></script>
        <script type="text/html" id="item-template">
        {% block js_scripts_top %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid content">
            {% block content %}{% endblock %}
        </div>
        {% block js_scripts_bottom %}{% endblock %}
    </body>
</html>
